html {
    height:100%;
}

ul
{
    margin-left:0px;
    padding-left:0px;

}
body {
    background:#FFFFFF url(/images/stripe.png) repeat scroll left top;
    font-family:Tahoma;
    height:100%;
    margin:0;
    padding:0;
}
h3 {
    color:#FFFFFF;
    font-family:Arial;
    font-size:33px;
    font-weight:normal;
    text-decoration:none;
    margin-top:0px;
}
#page {
    background:transparent url(/images/header.png) repeat-x scroll left top;
    margin:0;
    padding:0;
    position:relative;
    min-height:85%;
}
#wrapper {
    background:#DF3E43 url(/images/red_bg.png) repeat scroll left top;
    float:left;
    margin:0 auto 100px;
    padding:20px;
    width:600px;
    min-height:300px;

}
#header {
    display:block;
    height:230px;
}
#header h1 {
    background:transparent url(/images/fix_my_city.png) no-repeat scroll -120px top;
    display:block;
    height:230px;
    margin:0;
    padding:0;
    text-indent:-3000px;
}
#frame {
}
h2 {
    color:#FFFFFF;
}
select, input, textarea {
    background:#E7E7E9 none repeat scroll 0 0;
    border:6px solid #A62937;
    display:block;
    font-family:Verdana;
    font-size:18px;
    margin-bottom:30px;
    padding:10px;
    width:570px;
}
textarea {
    height:200px;
}
a.next {
    background:transparent url(/images/button_next.png) no-repeat scroll right top;
    color:#FFFFFF;
    float:right;
    font-size:29px;
    padding:20px 83px 23px 10px;
    text-decoration:none;
    text-transform:uppercase;
}
ul#questions {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    padding:0;
}
ul#questions li {
}
.clearfix {
    clear:both;
}
label {
    color:#FFFFFF;
    font-family:Arial;
    font-size:22px;
    font-weight:normal;
    line-height:45px;
}
#answers input {
    display:none;
}
#address_results {
    padding-left:0;
}
#address_results li {
    background:#F0F0F0 none repeat scroll 0 0;
    display:block;
    font-size:18px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin-left:0;
    padding:10px;
}
#address_results li:hover {
    background:#CCCCCC none repeat scroll 0 0;
}
#load_indicator {
    background:transparent url(/images/loader_red.gif) no-repeat scroll center top;
    display:block;
    height:30px;
    width:100%;
}
#address_results li a {
    color:inherit;
    text-decoration:none;
}
#footer {
    bottom:0;
    display:block;
    height:88px;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
    text-align:center;
    width:100%;
    clear:both;
}
#footer a {
    display:block;
    float:left;
    height:88px;
    position:relative;
    text-indent:-3000px;
}
#footer span {
    display:block;
    float:left;
    height:20px;
    padding:11px;
    position:relative;
    text-indent:-3000px;
    top:40px;
}
#footer span.built_by {
    background:transparent url(/images/imagined_and_hand_built_by.png) no-repeat scroll left top;
    width:345px;
}
#footer span.designed_by {
    background:transparent url(/images/design_by.png) no-repeat scroll 0 0;
    width:120px;
}
#footer a.skeevisarts {
    background:transparent url(/images/skeevisarts.png) no-repeat scroll left top;
    width:300px;
}
#footer a.craftymice {
    background:transparent url(/images/crafty.png) no-repeat scroll 0 0;
    width:173px;
}
#footer #inner {
    bottom:0;
    display:block;
    height:88px;
    left:0;
    position:absolute;
    width:1010px;
}
#footer #footer-wrapper {
    display:block;
    height:88px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    width:1010px;
}
a.about {
    background:#DC5D55 none repeat scroll 0 0;
    color:#FFFFFF;
    float:right;
    font-family:Arial Black;
    font-weight:bold;
    margin-left:10px;
    padding-bottom:5px;
    padding-left:5px;
    padding-top:5px;
    right:0;
    text-decoration:none;
    text-transform:uppercase;
    top:0;
}
#map {
    clear:both;
    display:block;
    height:400px;
    width:600px;
}
.pushpin {
    border:medium none;
    padding:11px;
}
#haku {
    float:left;
    width:380px;
}
#hae {
    background:#A62937 none repeat scroll 0 0;
    color:#FFFFFF;
    float:left;
    font-size:12px;
    font-weight:bold;
    height:55px;
    padding:9px;
    width:50px;
}
.marker {
    background:#FFFFFF none repeat scroll 0 0;
    border:2px dotted;
    display:block;
    float:left;
    height:50px;
    margin-left:10px;
    width:50px;
}
#api-version {
    display:none;
}
.addthis_toolbox {
    background:#FFFFFF none repeat scroll 0 0;
    padding:5px;
}
table a {
    color:#0C0C0C;
    font-size:12px;
}
#tooltip {
    background:#FFFFFF none repeat scroll 0 0;
    display:none;
    font-family:Verdana;
    font-size:13px;
    line-height:21px;
    margin-top:20px;
    padding:20px;
    width:100%;
}
#tablets {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}
#tabletleft {
    display:block;
    float:left;
    height:100px;
    width:160px;
}
#tabletright {
    display:block;
    float:left;
    height:auto;
    width:160px;
}

p{
    background:#FFFFFF none repeat scroll 0 0;
    clear:both;
    font-family:Verdana;
    font-size:14px;
    line-height:22px;
    margin-top:20px;
    padding:10px;

}

ul.info{
    background:#FFFFFF none repeat scroll 0 0;
    clear:both;
    margin-top:20px;


}

ul.info li{
    font-family:Verdana;
    font-size:14px;
    line-height:22px;
}

p.red
{
    color:#ff0000;
}

.lokilate
{
    background:#FFFFFF none repeat scroll 0 0;
    border:2px dotted;
    color:#000000;
    display:block;
    float:left;
    font-size:13px;
    height:40px;
    margin-left:10px;
    padding-top:10px;
    text-align:center;
    text-decoration:none;
    width:50px;
}

p a
{
    color:#4d4d48;
}

a:hover
{
    opacity:0.75;
}

#slideshow
{
border:6px solid #fff;
        margin-left:auto;
        margin-right:auto;
        width:580px;
        height:300px;
        margin-top:50px;
        overflow:hidden;
}